<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet href="/css/reset.css">
    <link rel=stylesheet href="/css/synseer/main.css">
  </head>
<body>

<div class="total_score">
  <div class="games_completed"> <%= scores.total_completed %> </div>
  <div class="correct">         <%= scores.total_correct   %> </div>
  <div class="incorrect">       <%= scores.total_incorrect %> </div>
  <div class="time">            <%= sprintf '%01d:%02d', scores.total_duration/60, scores.total_duration%60 %></div>
</div>

<ul class="available_games">
  <% games.each do |_path, game| %>
    <li class="game">
      <div class="name">
        <a href="<%= game.fetch(:path) %>">
          <%= game.fetch(:name) %>
        </a>
      </div>
      <div class="score">
        <% if scores.for? game.fetch(:id) %>
          <div class="correct">         <%= scores.correct_for   game.fetch :id %></div>
          <div class="incorrect">       <%= scores.incorrect_for game.fetch :id %></div>
          <div class="time">            <%= sprintf '%01d:%02d', scores.duration_for(game.fetch :id)/60, scores.duration_for(game.fetch :id)%60 %></div>
        <% else %>
          unattempted
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>
